* {
  margin: 0;
  padding: 0;
}

p,
h4 {
  margin: 0;
}
p {
  font-size: 14px;
}

:root {
  --bg-primary-color: #131417;
  --bg-secondary-color: #2a489e;
  --border-primary-color: #161820;
  --card-bg: #161820;
  --card-head-bg: #1b2440;
  --button-bg: #e22128;
}

main {
  height: 100vh;
  color: white;
  background-color: var(--bg-primary-color);
}

.sidebar {
  width: 20vw;
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  background-color: var(--bg-primary-color);
  border: 1px solid var(--border-primary-color);
  transition: all 0.5s ease;
}

.sidebar_head {
  display: flex;
  align-items: center;
  padding: 10px 0px 10px 20px;
  gap: 20px;
  padding-top: 10px;
}

.officer_profile {
  padding: 30px;
}

.nav_dash {
  background-color: var(--bg-secondary-color);
  border: 1px solid var(--border-primary-color);
  border: 1px solid #161820;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  cursor: pointer;
  align-items: center;
  padding: 20px 10px 20px 40px;
}

.navs {
  padding: 20px 10px 20px 40px;
  border: 1px solid var(--border-primary-color);
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  cursor: pointer;
  align-items: center;
  font-size: 16px;
}

.logout {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.logout-btn {
  color: white;
  background-color: #e22128;
  width: 80%;
  padding: 8px;
  border: 0px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Contant Css */
.contant {
  background-color: var(--bg-primary-color);
  width: 80%;
  margin-left: 20%;
  height: 100vh;
}

.menu-btn {
  background-color: transparent;
  border: 0px;
}

.navbar_s {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #14151a;
  padding: 10px;
  gap: 10px;
}

.nav_img {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  justify-content: start;
}
.navbar_s_icons{
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
}

/* Header */
.header {
  display: flex;
  flex: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid#161820;
}

.profile {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
}

input {
  background-color: #141519;
  border: 1px solid #161820;
  color: rgb(176, 168, 168);
  padding: 5px 10px;
  /* width: 100%; */
  height: 35px;
  border-radius: 5px;
}

.button {
  background-color: var(--button-bg);
  border: 0px;
  padding: 5px 20px;
  border-radius: 5px;
  color: white;
  width: 120px;
  float: right;
  /* width: 100px; */
}

.seachInput {
  width: 400px;
  background-color: #141519;
  border: 1px solid #161820;
  position: relative;
}

.searchLogo {
  position: absolute;
  margin-left: -30px;
  top: 28px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.contant-sec {
  width: 100%;
  background-color: var(--bg-primary-color);
  /* height: 100vh; */
  /* padding: 10px; */
}

.card1 {
  width: 100%;
  display: flex;
  height: 260px;
  padding: 10px;
  justify-content: space-between;
  gap: 10px;
}

.box1 {
  width: 60%;
  padding: 20px;
  background-color: #161820;
  border-radius: 10px;
  border: 1px solid #22242f;
}
.search-history {
  /* padding: 10px; */
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.btn-box{
  display: flex;
  justify-content: end;
}
.box2,
.box3 {
  width: 40%;
  padding: 10px;
  background-color: #161820;
  border-radius: 10px;
}

.box2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.box3 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #1b2440;
}

.rows {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.boox {
  width: 100%;
  border: 1px solid #22242f;
  height: 100px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 30px;
}
.box-icon{
  display: flex;
  justify-content: space-between;
}
.box-num {
  font-size: 30px;
}
.box-text {
  font-size: 10px;
}

.table1 {
  padding: 10px;
}

.card-head {
  background-color: #1b2440;
  padding: 5px 20px;
  /* margin: 0px 10px; */
  border-radius: 10px 10px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view-history {
  padding: 5px 10px;
  background-color: #131417;
  border-radius: 20px;
  font-size: 12px;
}

.table-sheet {
  /* margin: 0px  10px; */
  padding: 0px 10px;
  height: 360px;
  background-color: #161820;
  border-radius: 10px;
  font-size: 14px;
  color: #ffffff;
}

.dis-hir {
  margin-top: 20px;
  /* width: 100%; */
  height: auto;
  padding: 10px;
}

.officers {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  justify-content: space-between;
  background-color: #161820;
}

.officer {
  width: 15%;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  overflow: hidden;
}
.officer-name {
  width:180px;
  overflow: hidden;
  font-size: 15px;
}

.officer-rank {
  font-size: 12px;
}

.officer-btn {
  background-color: #e22128;
  width: 150px;
  border: 0px;
  border-radius: 5px;
  font-size: 12px;
  color: white;
  padding: 5px;
}

.stations {
  height: 420px;
  padding: 10px;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}

.map_section{
  width: 523px;
  background-color: #161820;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  /* padding: 10px; */
}
#map{
  height: 100%;
  width: 100%;
  position: relative;

}
.map-search {
  position: absolute;
  bottom: 10px;
  left: 50px;
  bottom: 20px;
}
.map-search-input {
  width: 100%;
  padding-right: 30px;
  border: 1px solid #161820;
}
.map-search-logo {
  position: absolute;
  right: 8px;
  top: 8px;
  border-radius: 10px;
}

.records {
  width: 100%;
  background-color: #161820;
  border-radius: 10px;
}
.recs {
  padding: 10px;
  font-size: 14px;
  color: #ffffff;
}

.graph-section {
  height: 430px;
  padding: 10px;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}
.graph-btns{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 10px;
}

.graph-year{
    padding: 5px 15px;
    background-color: #131417;
    border-radius: 20px;
    font-size: 12px;

}

.graph {
  width: 100%;
  background-color: #161820;
  border-radius: 10px;
  height: 100%;
  padding: 10px;

}
.myChart{
  width: 100%;
  height: 100%;
  color: white;
}


.messages {
  width: 523px;
  background-color: #161820;
  padding: 10x;
  position: relative;
  border-radius: 10px;
}

.actions {
  display: flex;
  gap: 10px;
  align-items: center;
}

.messages-list {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 20px;
}

.msg-sec {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #22242f;
  padding: 10px 0px;
}

.msg-contant {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.msg-name {
  font-size: 18px;
  font-weight: 500;
}

.msg-text {
  font-size: 12px;
}

/* Media Query */

@media screen and (min-width: 1140px) {
  .menu {
    display: none;
  }
  .officer_profile {
    display: none;
  }

  .navbar_s {
    display: none;
  }


  .logout {
    display: none;
  }
}
@media screen and (max-width: 1025px) {
  .sidebar {
    left: -100vw;
    width: 100%;
    height: auto;
    top: 70px;
    position: absolute;
    transition: all 0.5s ease;
  }
  .sidebar_head {
    display: none;
  }

  .contant {
    margin-left: 0vw;
    width: 100vw;
    height: 100vh;
    transition: all 0.5s ease;
  }

  .header > .form {
    display: none;
  }

  .header > .form {
    display: none;
  }

  .card1 {
    flex-direction: column;
    height: auto;
  }

  .box1,
  .box2,
  .box3 {
    width: 100%;
  }

  .table1,
  .dis-hir {
    display: none;
  }

  .stations {
    display: none;
  }

  .graph-section {
    display: none;
  }
}

@media screen and (max-width: 1025px) {
  .header {
    display: none;
  }
}
