<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

        .navbar_s{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            background-color: black;
            color: white;
            padding: 10px;

        }

        .nav_img{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 20px;
        
        }

    </style>
</head>
<body>

    <div class="navbar_s">
        <div>
            
            <div class="nav_img">
                <img src="../public/menu_icon.png" alt="menu" class="menu" width="20" height="20">
                <img src="../public/logo.png" alt="logo" class="logo" width="50" height="50">
            </div>
        </div>
        
        <div>
            <img src="../public/searchbar.png" alt="search" width="30" height="30" >
            <img src="../public/logout.png" alt="logout"  width="30" height="30"  >
            <img src="../public/logout.png" alt="logout"  width="30" height="30"  >
        </div>
    </div>
    
</body>
</html>