<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        .profile{
            padding: 20px;
        }
    </style>
</head>
<body>

    <div class="profile ">
        <img src="../public/officer.png" alt="profile Image"  width="100" height="100" class="profile_image">
        <h4>Ameen Khoso</h4>
        <p>SHO Artillery Station</p>
    </div>
    
</body>
</html>